#gameBorder{
  margin:auto;
  width:auto;
  text-align: center;
  white-space: nowrap;
}

.borderStyling{
  display:inline-block;
  border:4px #222 ridge;
  border-radius: 3rem;
  width:100px;
  height:600px;
}
#bs1{
  margin-left: auto;
  background-image: linear-gradient(-90deg, #ccc, #777);
}
#bs2{
  margin-right: auto;
  background-image: linear-gradient(90deg, #ccc, #777);
}

#gameCenter{
  display: inline-block;
  vertical-align: top;
}

#gameFloor{
  height: 100px;
  background-image:repeating-linear-gradient(
    45deg, rgba(0,0,0,1), rgba(0,0,0,1) 3px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 19px
  );
  border-top:3px black solid;
}

#gameWindow{
  /* border:2px dashed black; */
  width:1200px;
  height:420px;
  position:relative;
  overflow: hidden;
}

.gameObj{
  z-index:-5;
  border:1px dashed red;
  position:absolute;
  background-repeat: no-repeat;
}

#scorePane{
  display: inline-block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  font-size: 2.5rem;
  vertical-align: middle;
  text-align: right;
  transition-duration: 2s;
}
#scorePane p{
    margin:1rem;
    transition-duration: 1s;
}
#scorePane.endGamePane p{
    font-size: 11rem;
    margin-top:0;
    margin-bottom:0;
}

#menu{
  font-size: 2rem;
  list-style: none;
  position:absolute;
  box-sizing:border-box;
  height:100%;
  text-align:center;
}
#menu li{
  margin:20px;
  padding:20px 4px;
  border:4px #222 ridge;
  border-radius: 3rem;
  transition-duration: 0.2s;
  background-color: white;
  box-shadow: 0px 0px 50px white;
}
#menu a{
  text-decoration: none;
  transition-duration: 0.1s;
}
#menu a:link, #menu a:visited{
  color:#111;
}
#menu a:hover{
  color:#fff;
}
#menu li:hover{
  background-color: #999;
}
