html, body{
  padding:0;
  margin:0;
  overflow: hidden;
}

#gameBorder{
  margin:auto;
  width:auto;
  text-align: center;
  white-space: nowrap;
}

.borderStyling{
  display:inline-block;
  border:4px #222 ridge;
  width:100px;
  height:468px;
}
#bs1{
  margin-left: auto;
  background-image: linear-gradient(-90deg, #ccc, #777);
  border-radius: 3rem 0 0 3rem;
}
#bs2{
  margin-right: auto;
  background-image: linear-gradient(90deg, #ccc, #777);
  border-radius: 0 3rem 3rem 0;
}

#gameCenter{
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
}

#gameFloor{
  height: 100px;
  background-image:/*repeating-*/linear-gradient(
    180deg, rgba(230,230,230,1), rgba(180,180,180,1) 20%, rgba(180,180,180,1) 80%, rgba(120,120,120,1) 100%
  );
  border-top:3px black solid;
  border-bottom:3px black solid;
  position:relative;
  z-index:-7;
  top:-50px;
}

#gameWindow{
  /* border:2px dashed black; */
  width:1200px;
  height:420px;
  position:relative;
  overflow-y: visible;
}

.gameObj{
  z-index:-5;
  /* border:1px dashed red; */
  position:absolute;
  background-repeat: no-repeat;
}

#scorePane{
  display: inline-block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  font-size: 2.5rem;
  vertical-align: middle;
  text-align: right;
  transition-duration: 1s;
}
#scorePane p{
  margin:1rem;
  transition-duration: 1s;
}
#scorePane.endGamePane{
  top:50px;
}
#scorePane.endGamePane p{
  font-size: 8.5rem;
  margin-top:0;
  margin-bottom:0;
}

#menu{
  font-size: 2rem;
  list-style: none;
  position:absolute;
  box-sizing:border-box;
  height:100%;
  text-align:center;
  pointer-events: auto;
  -webkit-touch-callout: auto;
  user-select: auto;
}
#menu a{
  width:100%;
  display:inline-block;
  box-sizing: border-box;
  margin:20px auto;
  padding:20px 40px;
  border:4px #222 ridge;
  display:inline-block;
  box-sizing: border-box;
  border-radius: 3rem;
  transition-duration: 0.2s;
  background-color: white;
  box-shadow: 0px 0px 50px white;
  text-decoration: none;
}
#menu a:link, #menu a:visited{
  color:#111;
}
#menu a:hover{
  color:#fff;
  background-color: #999;
}

@media (max-width: 1400px){
  .borderStyling{
	display:none;
  }
}
