
#gameWindow{
  border:2px dashed black;
  width:1200px;
  height:420px;
  margin:auto;
  position:relative;
  /* overflow: hidden; */
}

.gameObj{
  border:1px dashed red;
  position:absolute;
  background-repeat: no-repeat;
}

#scorePane p{
  margin:1rem;
  font-size: 1.5rem;
  text-align: right;
}
